#slide-out {
	a {
		color: #FFFFFF;
	}
}

#sidenav-overlay {
	z-index: 996;
}

.brand-first-name {
	font-weight: 200;
}

.brand-last-name {
	font-weight: 400;
}

.brand-logo {
	a {
		padding: 0 32px;
	}
}