doctype html
html(lang='en')
	include ../_templates/head.pug
	+head("Levi Zitting - Programmer, Creator, and Life Long Learner", "home.css")
	body
		include ../_templates/navbar.pug
		+navbar("Home")
		header#home-header.v-align-parent
			div.v-align-child
				h1 Levi Zitting
			
		include ../_templates/scripts.pug
		+scripts()
