doctype html
html(lang='en')
	include ../_templates/head.pug
	+head("Levi Zitting - Programmer, Creator, and Life Long Learner", "home.css")
	body
		include ../_templates/navbar.pug
		+navbar("Home")
		header#home-header.v-align-parent
			div.v-align-child
				div.card#header-card
					div.card-up
						img.card-profile(src="img/profile.jpg")
					div.card-block 
						h1.card-title Levi Zitting
						p.card-text Programmer, Creator, and Life Long Learner
						p.card-text Welcome to my website
			
		include ../_templates/scripts.pug
		+scripts("js/home-animations.js")
