doctype html
html(lang='en')
	include ../_templates/head.pug
	+head("Levi Zitting - Programmer, Creator, and Life Long Learner", "blog.css")
	body
		include ../_templates/navbar.pug
		+navbar("Projects")
			
		include ../_templates/scripts.pug
		+scripts()
