doctype html
html
	include _partials/_head.pug
	body
		include _partials/_nav.pug

		#main
			.container
				.row
					.col.s12.card
						h1.center-align Dashboard
						h3.center-align Posts
						.row
							a.btn.waves-effect.col.s4.offset-s1(href="create-post.html") Create Post
							a.btn.waves-effect.col.s4.offset-s2(href="posts-manager.html") Manage Posts
						h3.center-align Projects
						.row
							a.btn.waves-effect.col.s4.offset-s1(href="create-project.html") Create Project
							a.btn.waves-effect.col.s4.offset-s2(href="projects-manager.html") Manage Projects

		include _partials/_scripts.pug