doctype html
html
	include _partials/_head.pug
	body
		include _partials/_nav.pug

		#main
			.container
				.row
					.col.s12
						.card
							h1.center-align Manage Posts
							a.btn.waves-effect#new-post(href="create-post.html") New Post
							table#posts-table.display
								thead
									tr
										th ID
										th Title
										th Tags
										th Published
										th 
								tbody
									tr
										td 1
										td First Post
										td
											.chip Frontend						
											.chip Backend						
										td 06-16-2017
										td
											a.btn.waves-effect(href="edit-post.html") Edit
									tr
										td 1
										td Second Post
										td
											.chip Frontend						
											.chip Backend	
										td 06-16-2017
										td
											a.btn.waves-effect(href="edit-post.html") Edit
									tr
										td 1
										td First Post
										td
											.chip Frontend						
											.chip Backend	
										td 06-16-2017
										td
											a.btn.waves-effect(href="edit-post.html") Edit
									tr
										td 1
										td First Post
										td
											.chip Frontend						
											.chip Backend						
										td 06-16-2017
										td
											a.btn.waves-effect(href="edit-post.html") Edit
									tr
										td 1
										td First Post
										td
											.chip Frontend						
											.chip Backend	
										td 06-16-2017
										td
											a.btn.waves-effect(href="edit-post.html") Edit
									tr
										td 1
										td First Post
										td
											.chip Frontend						
											.chip Backend	
										td 06-16-2017
										td
											a.btn.waves-effect(href="edit-post.html") Edit
									tr
										td 1
										td First Post
										td
											.chip Frontend						
											.chip Backend						
										td 06-16-2017
										td
											a.btn.waves-effect(href="edit-post.html") Edit
									tr
										td 1
										td First Post
										td
											.chip Frontend						
											.chip Backend	
										td 06-16-2017
										td
											a.btn.waves-effect(href="edit-post.html") Edit
									tr
										td 1
										td First Post
										td
											.chip Frontend						
											.chip Backend	
										td 06-16-2017
										td
											a.btn.waves-effect(href="edit-post.html") Edit
									tr
										td 1
										td First Post
										td
											.chip Frontend						
											.chip Backend						
										td 06-16-2017
										td
											a.btn.waves-effect(href="edit-post.html") Edit
									tr
										td 1
										td First Post
										td
											.chip Frontend						
											.chip Backend	
										td 06-16-2017
										td
											a.btn.waves-effect(href="edit-post.html") Edit
									tr
										td 1
										td First Post
										td
											.chip Frontend						
											.chip Backend	
										td 06-16-2017
										td
											a.btn.waves-effect(href="edit-post.html") Edit
							

		include _partials/_scripts.pug