doctype html
html
	include _partials/_head.pug
	body
		include _partials/_nav.pug
		
		.container
			.row.blog-move-down
				.col.s12.m8.posts
					.card.post
						.card-image
							img(src='images/atlanta.jpg')
						.card-content
							span.card-title Blog Title
							p.post-meta
								span.published Published: 
								| May 21, 2017
							p.post-body.flow-text
								| Lorem ipsum dolor sit amet, curabitur lectus cras ut maecenas, est commodi luctus tempus. Lorem aenean venenatis, eu pede iaculis id, etiam rerum pharetra proin natoque harum. Nisi integer habitasse nulla vestibulum aliquam volutpat, ipsum et, vitae purus velit, in in massa ultricies. Maecenas in, augue eu integer vel pellentesque id, eget imperdiet ullamcorper. Posuere non feugiat eu at, hymenaeos at, integer ultrices tempus nulla posuere ut, aliquam semper tempor libero vitae.
								br
								br
								| Quia varius eget, orci tellus sed fusce etiam nec cursus. Nunc eget nec vestibulum sollicitudin aut. Arcu nec consectetuer viverra interdum nunc, fermentum amet. Nunc congue aliquet maecenas lectus neque, lectus nullam sequi tellus aliquam nunc, et aliquam eu quia eu mauris, consequat dis, laoreet sed sit libero. Erat nullam arcu mattis nam etiam, consequat morbi. Elit reiciendis nullam iaculis malesuada, iaculis metus, senectus dui scelerisque, vitae mauris ante non tincidunt ultricies. Tellus augue enim elementum, vivamus occaecat maecenas vitae diam, et posuere phasellus eu. Nam dui aenean hymenaeos amet est. Diam ullamcorper bibendum ac placerat adipiscing, voluptate volutpat, imperdiet nisl urna habitant nunc et, fusce ut libero commodo. Blandit ipsum, semper tellus arcu sagittis donec consectetuer aptent, at vitae at, sit dapibus. Tristique est nec lacus interdum, aliquet curabitur montes curae fringilla, lacus nulla odio vitae, cras suspendisse. Condimentum vivamus ultrices recusandae condimentum in, sapien mauris dignissim imperdiet nisl aliquam, congue molestie et lorem.
							.post-tags
								p Tags:
								.chip Tag 1
								.chip Tag 2
								.chip Tag 3
								.chip Tag 4
								.chip Tag 5


				.col.s12.m3.offset-m1
					
					include _partials/_sidebar.pug


		include _partials/_footer.pug
		include _partials/_scripts.pug