-
	var pagesLeft = [["Home", "index.html"], ["Blog", "blog.html"], ["Projects", "projects.html"]];
	var pagesRight = [["About", "about.html"], ["Contact", "contact.html"]];
mixin navbar(activePage)
	nav.navbar.navbar-fixed-top.navbar-dark.bg-primary
		// Collapse button
		button.navbar-toggler.hidden-sm-up(type='button', data-toggle='collapse', data-target='#collapseEx2')
			i.fa.fa-bars
		div.container
			// Collapse content
			div#collapseEx2.collapse.navbar-toggleable-xs
				// Navbar Brand
				a.navbar-brand(href="index.html")
					| Levi
					span.brand-last-name Zitting
				mixin navbar-tabs(pages)
					each page in pages
						if(activePage === page[0])
							li.nav-item.active
								a.nav-link(href=page[1]) #{page[0]}
						else 
							li.nav-item
								a.nav-link(href=page[1]) #{page[0]}

				div.collapse.navbar-toggleable-xs#collapseEx2 
					ul.nav.navbar-nav
						+navbar-tabs(pagesLeft)
					ul.nav.navbar-nav.float-xs-right
						+navbar-tabs(pagesRight)