
body
  background colors-background
  color colors-text

.main-content
  width 100%

.container
  display block
  width 600px
  margin 0 auto

  @media(max-width 629px)
    width calc(100% - 3rem)
    margin 0 1.5rem
