@use 'sass:math';

$colors: (
    text: #fff,
    background: #263238,
);

@function pow($number, $exponent) {
    $value: 1;

    @if $exponent > 0 {
        @for $i from 1 through $exponent {
            $value: $value * $number;
        }
    }

    @return $value;
}

// Fonts
$font: -apple-system, BlinkMacSystemFont, Avenir, 'Avenir Next', 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;

// Typography Scale
// let s = size, b = base (1rem), r = ratio, and l = level -> s = b * (r ^ l)
$typography-size-base: 1rem;

$typography-size-ratio: 1.2;
$typography-size-1: math.div(
    round(($typography-size-base * pow($typography-size-ratio, 6)) * 1000),
    1000
);
$typography-size-2: math.div(
    round(($typography-size-base * pow($typography-size-ratio, 5)) * 1000),
    1000
);
$typography-size-3: math.div(
    round(($typography-size-base * pow($typography-size-ratio, 4)) * 1000),
    1000
);
$typography-size-4: math.div(
    round(($typography-size-base * pow($typography-size-ratio, 3)) * 1000),
    1000
);
$typography-size-5: math.div(
    round(($typography-size-base * pow($typography-size-ratio, 2)) * 1000),
    1000
);
$typography-size-6: math.div(
    round(($typography-size-base * $typography-size-ratio) * 1000),
    1000
);

$typography-size-small-ratio: 1.125;
$typography-size-small-1: math.div(
    round(
        ($typography-size-base * pow($typography-size-small-ratio, 6)) * 1000
    ),
    1000
);
$typography-size-small-2: math.div(
    round(
        ($typography-size-base * pow($typography-size-small-ratio, 5)) * 1000
    ),
    1000
);
$typography-size-small-3: math.div(
    round(
        ($typography-size-base * pow($typography-size-small-ratio, 4)) * 1000
    ),
    1000
);
$typography-size-small-4: math.div(
    round(
        ($typography-size-base * pow($typography-size-small-ratio, 3)) * 1000
    ),
    1000
);
$typography-size-small-5: math.div(
    round(
        ($typography-size-base * pow($typography-size-small-ratio, 2)) * 1000
    ),
    1000
);
$typography-size-small-6: math.div(
    round(($typography-size-base * $typography-size-small-ratio) * 1000),
    1000
);
