#about {
	margin-top: 20px;
	.card-content {
		p.flow-text {
			font-weight: 300;
			font-size: 1.2em;
			margin: 20px 0;
		}

		hr {
			border-width: 3px;
			width: 80%;
		}
	}
}

.about-header {
	background-image: url("../images/atlanta.jpg");
	height: 500px;
	background-position: center center;

	.profile {
		height: 200px;
		border: 6px solid white;
		border-radius: 100px;
	}

	h1 {
		color: white;
		font-size: 3em;
		font-weight: 300;
	}
}

.skill {
  padding: 0 5px;
  p {
    margin: 0;
  }
}