doctype html
html
	include _partials/_head.pug
	body

		#login.blue.darken-2.valign-wrapper
			.container
				.row
					.col-s12
						h3.brand-logo.center-align.white-text
							span.brand-first-name Levi
							span.brand-last-name Zitting
					form.col.s12.m6.offset-m3.card
						h4.center-align Admin Login
						.input-field.col.s12
							input#user-name.validate(type='text')
							label(for='user-name') Username
						.input-field.col.s12
							input#password.validate(type='password')
							label(for='password') Password
						input.btn.waves-effect.col.s12(type="submit" value="Log In")

		include _partials/_scripts.pug