footer.page-footer.blue.darken-2
	.container
		.row
			.col.m6.center-align
				h5.white-text Vincent Van Gogh
				p.grey-text.text-lighten-4 Great things are done by a series of small things brought together.
			.col.m6.center-align
				h5.white-text Connect With Me
				ul.soc
					li
						a.soc-twitter(href='https://twitter.com/levi_zitting' target="_blank")
					li
						a.soc-github(href='https://github.com/glitchedmob' target="_blank")
					li
						a.soc-instagram(href='https://www.instagram.com/levi_zitting/' target="_blank")
					li
						a.soc-linkedin.soc-icon-last(href='https://www.linkedin.com/in/levi-zitting/' target="_blank")

	.footer-copyright
		.container
			| © 2017 Levi Zitting