.card.post
	.card-image
		img(src='images/atlanta.jpg')
	.card-content
		span.card-title Blog Title
		p.post-meta
			span.published Published: 
			| May 21, 2017
		p.post-body.flow-text
			| I am a very simple card. I am good at containing small bits of information.
			| I am convenient because I require little markup to use effectively.
		.post-tags
			p Tags:
			.chip Tag 1
			.chip Tag 2
			.chip Tag 3
			.chip Tag 4
			.chip Tag 5
		a.btn.waves-effect.read-more.right(href="post.html") Read More...