/* Icon font */
@font-face {
    font-family: icon;
    src: url('../icons/icon.ttf?vf4iyb') format('truetype'),
        url('../icons/icon.woff?vf4iyb') format('woff'),
        url('../icons/icon.svg?vf4iyb#icon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
    font-family: icon, sans-serif !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-linkedin::before {
    content: '\f08c';
}

.icon-twitter::before {
    content: '\f099';
}

.icon-github::before {
    content: '\f09b';
}

.icon-envelope::before {
    content: '\f0e0';
}

.icon-instagram::before {
    content: '\f16d';
}

.icon-dev::before {
    content: '\f6cc';
}

.icon-mastodon::before {
    content: '\e900';
}
