#contact {
	width: 100%;
	height: 100%;

	@media(max-height: $small-height-screens) {
		margin-top: 20px;
	}

	.card {
		padding: 10px;
		h1 {
			font-size: 2.7em;
			font-weight: 300;
		}

		p {
			font-weight: 200;
		}

		hr {
			width: 70%;
			border-width: 3px;
		}
	}
}

#email-icon {
	position: relative;
	top: 15px;
	margin-left: 10px;
}