.navbar-fixed
	nav
		.nav-wrapper.blue.darken-2
			.container
				a.brand-logo(href='index.html')
					span.brand-first-name Levi
					span.brand-last-name Zitting
						
				a.button-collapse(href='#', data-activates='mobile-menu')
					i.material-icons menu
				ul.right.left-align.hide-on-med-and-down
					li.active
						a(href='index.html') Home
					li
						a(href='blog.html') Blog
					li
						a(href='projects.html') Projects
					li
						a(href='about.html') About
					li
						a(href='contact.html') Contact
				ul#mobile-menu.side-nav
					li
						a(href='index.html') Home
					li
						a(href='blog.html') Blog
					li
						a(href='projects.html') Projects
					li
						a(href='about.html') About
					li
						a(href='contact.html') Contact