.card.sidebar
	.card-content
		h5 Recent Posts
		ul
			li
				a(href="") Post Title
			li
				a(href="") Post Title
			li
				a(href="") Post Title
			li
				a(href="") Post Title
			li
				a(href="") Post Title
		
		br
		h5 Popular Posts
		ul
			li
				a(href="") Post Title
			li
				a(href="") Post Title
			li
				a(href="") Post Title
			li
				a(href="") Post Title
			li
				a(href="") Post Title
			
		br
		h5 Archives
		ul
			li
				a(href="") June 2017
			li
				a(href="") May 2017
			li
				a(href="") April 2017
			li
				a(href="") March 2017
			li
				a(href="") Febuary 2017